header {
  margin: 0 auto;
}

.nav {
  height: 11rem;
  padding: 0 2.4rem;
  @include flex(row, center);
  position: relative;
  @include media-md {
    height: 17.8rem;
    padding-right: 0;
  }

  &__logo {
    margin-right: auto;
    @include media-lg {
      margin-left: 10%;
    }
  }

  &__links {
    background-color: $dark-color-bg;
    width: 25rem;
    @include flex(column, center);
    position: absolute;
    top: 11rem;
    right: 2.7rem;
    display: none;
    @include media-md {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: $primary-color;
      max-width: 43.8rem;
      width: 100%;
      position: relative;
      top: 0;
      right: 0;
      padding: 5.7rem 4rem 5.7rem 3rem;
      margin-left: 2rem;
    }
    @include media-lg {
      max-width: 70.5rem;
    }

    a {
      margin: 1.6rem;
      font-size: 1.8rem;
      line-height: 3.2rem;
      @include media-md {
        margin: 0;
      }
    }
  }

  &__menu--active &__links {
    display: flex;
  }

  &__menu--icon {
    @include media-md {
      display: none;
    }
  }
}
