.section-1 {
  @include flex(column, center);

  &__text {
    padding: 5.6rem 2.4rem 9.6rem 2.4rem;
  }

  &__lead {
    padding: 1.5rem 0 4rem 0;
  }

  &__img {
    order: -1;
   
    img {
      width: 100%;
    }
  }
}
