*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Commissioner', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* 10px = 1rem */
}

body {
  font-size: 1.4rem;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 144rem;
}

picture,
img {
  display: inline-block;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.6rem;
    line-height: 5.6rem;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 8rem;
    line-height: 8.8rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 800;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}

.btn {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #f94f4f;
  padding: 1.7rem 3.8rem;
}

.btn-cta {
  background-color: inherit;
  color: #f94f4f;
  padding: 0 0 0.75rem 0;
  border-bottom: 1px solid #f94f4f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-cta:hover {
  color: #f98b8b;
  border-bottom: 1px solid #f98b8b;
}

@media screen and (min-width: 768px) {
  .nav__links .btn {
    background-color: #191921;
  }
}

header {
  margin: 0 auto;
}

.nav {
  height: 11rem;
  padding: 0 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 17.8rem;
    padding-right: 0;
  }
}

.nav__logo {
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .nav__logo {
    margin-left: 10%;
  }
}

.nav__links {
  background-color: #191921;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 11rem;
  right: 2.7rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #f94f4f;
    max-width: 43.8rem;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    padding: 5.7rem 4rem 5.7rem 3rem;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav__links {
    max-width: 70.5rem;
  }
}

.nav__links a {
  margin: 1.6rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media screen and (min-width: 768px) {
  .nav__links a {
    margin: 0;
  }
}

.nav__menu--active .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav__menu--icon {
    display: none;
  }
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .section-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section-1__text {
  padding: 5.6rem 2.4rem 9.6rem 2.4rem;
  max-width: 39.8rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section-1__text {
    margin-right: -10%;
    margin-left: auto;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .section-1__text {
    max-width: 41rem;
    margin-right: -5%;
    padding: 0;
    padding-left: 16.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .section-1__text {
    max-width: 57rem;
    margin-right: -2%;
  }
}

.section-1__lead {
  padding: 1.5rem 0 4rem 0;
}

@media screen and (min-width: 768px) {
  .section-1__lead {
    padding: 1.9rem 0 3.2rem 0;
  }
}

@media screen and (min-width: 1440px) {
  .section-1__lead {
    padding: 3.9rem 0 4.8rem 0;
  }
}

.section-1__img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media screen and (min-width: 768px) {
  .section-1__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 1024px) {
  .section-1__img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.section-1__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191921;
  color: #FFFFFF;
}

.section-2__img img {
  width: 100%;
}

.section-2__text {
  padding: 7.2rem 2.4rem;
  position: relative;
}

.section-2__pattern img {
  height: 2.9rem;
  width: 6.3rem;
  position: absolute;
  top: -2rem;
  left: 2.4rem;
}

.section-2__title--span {
  color: #f94f4f;
}

.section-2__paragraph {
  padding: 2.4rem 0 4rem 0;
}

.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f94f4f;
  color: #FFFFFF;
}

.section-3__text {
  padding: 9.6rem 2.4rem 4.9rem 2.4rem;
}

.section-3__list {
  padding: 0 2.4rem 9.6rem 2.4rem;
}

.list__items {
  z-index: 10;
}

.list__item {
  padding-bottom: 4rem;
  position: relative;
}

.list__item--num {
  font-size: 8rem;
  line-height: 8.8rem;
  font-weight: 800;
  position: relative;
  top: 4rem;
  left: -1.6rem;
  color: #f98b8b;
  z-index: 0;
}

.list__item--title {
  padding-bottom: 1.5rem;
}

.section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  position: relative;
}

.section-4__slider {
  height: 63.1rem;
  width: 100%;
  margin: 3.7rem auto;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slide__header {
  width: 100%;
  position: relative;
  padding: 8.4rem 2.4rem 12.8rem 2.4rem;
  background-color: #191921;
  margin-top: -4.5rem;
}

.slide__title {
  padding: 0 2.4rem;
}

.slide__container {
  width: 100%;
  height: 42.3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.slide__img {
  width: 100%;
}

.slide__img img {
  width: 100%;
  height: 100%;
}

.slide__img--text {
  position: absolute;
  top: 33.2rem;
  right: 3.2rem;
  text-align: end;
  font-size: 1.5rem;
  line-height: 2rem;
}

.slide__img--title {
  font-weight: 800;
}

.slider__btn {
  position: absolute;
  top: 57.2rem;
  z-index: 10;
  border: none;
  background-color: #191921;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 2.4rem;
}

.slider__btn--right {
  left: 8rem;
}

.footer {
  padding: 10rem 2.4rem;
}

.footer__title {
  padding-bottom: 4.7rem;
}
/*# sourceMappingURL=main.css.map */